.no-white-space {
    white-space: pre-wrap;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.recipe-body {
    width: 75%;
}

.edit-print-row {
    justify-content: flex-end;
}

.back-button {
    background-color:white;
    border: 1px solid white;
    color: rgb(32, 36, 36);
    margin: 15px;
}

.back-button:hover {
    background-color:white;
    border: 1px solid rgb(32, 36, 36);
    color: rgb(32, 36, 36);
    margin: 15px;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

.edit-button-row {
    text-align: center;
}