.container-recipe {
    position: absolute;
    top: 57px;
    max-width: 100%;
    background-color: #343a40;
    background-size: cover;
    color: white;
}

.no-white-space {
    white-space: pre-wrap;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: solid #97B3E7 4px;
    background-color: inherit;
    /* opacity: .9; */
}

.container-recipe hr {
    background-color: lightgray;
}

.recipe-body {
    width: 75%;
}

.edit-print-row {
    justify-content: flex-end;
    padding-right: 20px;
}


.button-row-large {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.button-row-small {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.edit-button-row {
    text-align: center;
}

.recipe-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid #97B3E7;
    display: inline-flex;
    margin-right: 10px;
    margin-top: 15px;
}

.title-div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-transform: uppercase;
    color: #97B3E7;
}

/* .titles { 
    color: #97B3E7;
} */




.try-list-text {
    display: inline-flex;
}

.thumbtack-button-div {
    display: inline-flex;
}

.row {
    margin: 0;
}

.title-div h5 {
    font-weight: 150;
}

@media print {
    .no-print {display: none}
    .line-break {margin-right: 130px}
    .container-recipe {color: black}
    .title-div {color: black}
    .card {
        border: none
    }
}



/* SMALL SCREEN */
@media (min-width: 768px) {
    .button-row-small {
    display: none;
    }
}

@media (max-width: 768px) {
    .button-row-large {
    display: none;
    }
}
