

.navbar-link {
    color: white
}

.navbar-link:hover {
    text-decoration: none;
    color: white;
}

.dropdown-link {
    color: #343a40;
}
.dropdown-link:hover {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.login-register-text {
    padding-left: 15px;
}

.login-register-text:hover {
    text-decoration: none;
    font-weight: bold;
}

.logout {
    margin-left:  16px;
}
.logout:hover {
    color: #C5C6C6;
    cursor: pointer;
}

.dropdown-item {
    background-color: white;
}

.dropdown-item:hover{
    background-color: white;
    font-weight: 600;
}

.dropdown-item.active {
    background-color: white;
    color: black;
}

.initial {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: solid white 2px;
    text-align: center;
    color: white;
    margin-left: 5px;
    font-size: 12px;
}



span.logout.dropdown-link.navbar-text {
    color: black;
    padding: 5px;
}

span.logout.dropdown-link.navbar-text:hover {
    color: black;
    padding: 5px;
    font-weight: 600;
}


.navbar-link img {
    width: 28px;
    height: 28px;
    margin-right: 7px;
}

.fixed-top {
    border-bottom: 1px solid #ff6464;
}


