.navbar-link {
    color: white
}

.navbar-link:hover {
    text-decoration: none;
    color: white;
}

.dropdown-link {
    margin: 0;
    padding: 10px;
    color: rgb(32, 36, 36);
}
.dropdown-link:hover {
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}

.login-register-text {
    padding-left: 15px;
}

.login-register-text:hover {
    text-decoration: none;
    font-weight: bold;
}

.logout:hover {
    color: #C5C6C6;
    cursor: pointer;
}

